  .wrap {
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  // .success-icon{
    
  // }
  .big-icon{
    font-size: 70px !important;
    margin-left: -30px !important;
  }
  .success-icon{
    color: #48DB71;

  }