<div class="table-row">
  <div class="avatar-section">
    <img
      class="mat-card-avatar-c"
      [src]="product?.meta?.cover_url"
      height="100%"
      width="100%"
    />
  </div>
  <div class="title-section">
    <h4>{{ product.title}}</h4>
    <h5>{{ product.by }}</h5>
  </div>
  <div class="rating">
    {{ product?.meta?.ratings }}
  </div>
  <div class="category">
    {{ product.category }}
  </div>
  <div class="status">
    <a
      mat-button
      color="primary"
      *ngIf="!product || !product.added; else remove"
      (click)="addCart()"
    >
      <mat-icon>add_shopping_cart</mat-icon> <span class="btn-title">Add to cart</span>
  </a>
    <ng-template #remove>
      <button mat-button color="warn" (click)="removeCart()">
        <mat-icon>delete</mat-icon> <span class="btn-title">Remove</span>
      </button>
    </ng-template>
  </div>
</div>
