<section style="margin: 5%">
  <div
    style="
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
    "
  >
    <div style="margin-right: 20px; width: 50%; position:relative">
      <input
        matInput
        type="search"
        placeholder="search here"
        class="search-input"
      />
      <span class="search-icon"><mat-icon matSuffix>search</mat-icon></span>
    </div>
    <div style="margin-left: 20px; width: 20%">
      <mat-select class="cat-select" placeholder="Category">
        <mat-option *ngFor="let cat of categories" [value]="cat">{{
          cat
        }}</mat-option>
      </mat-select>
    </div>
  </div>
  <div style="margin-top: 20px">
    <h2>Recommended</h2>
    <carousel class="carousel-html-content" [height]="350" *ngIf="recommendations.length>0;else empty">
      <div
        class="carousel-cell"
        *ngFor="let inventory of recommendations;let index"
      >
        <app-card [product]="inventory" (addToCart)="addToCart(inventory,'recommendation')" (removeFromCart)="removeFromCart(inventory,'recommendation')"> </app-card>
      </div>
    </carousel>
    <ng-template #empty>
        <app-empty-state [message]="notFound" icon="search"></app-empty-state>
    </ng-template>
  </div>
  <div style="margin-top: 40px; display: flex; flex-flow: column wrap">
    <div *ngFor="let inventory of inventoryItems" style="margin: 10px">
      <app-table [product]="inventory" (addToCart)="addToCart(inventory,'table')" (removeFromCart)="removeFromCart(inventory,'table')"> </app-table>
    </div>
    <div *ngIf="loading">
      <app-loader></app-loader>
      <!-- <ngx-skeleton-loader count="5" [theme]="{ 'background-color': '#eeeaea', 'border-radius': '0', height: '50px' }"></ngx-skeleton-loader> -->
    </div>
  </div>
</section>
